.cardTitle {
  margin: 12px 0;
  font-weight: 600;
  font-size: 18px;
}

.cardContent {
  overflow: hidden;
  flex-grow: 1;
}

.cardActions {
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
}
